<!-- START:head -->
<!DOCTYPE html>
<html>
<head>
  <title>Payment Demos Online Store</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<!-- END:head -->
<body class="<%= controller.controller_name %>">
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "Payment Demos Bookshelf" %>
  </div>
  <div id="columns">
    <div id="side">
<!-- START_HIGHLIGHT -->
      <!-- START:hidden_div -->
<!-- START_HIGHLIGHT -->
      <% if @cart %>
<!-- END_HIGHLIGHT -->
        <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
          <%= render @cart %>
        <% end %>
<!-- START_HIGHLIGHT -->
      <% end %>
<!-- END_HIGHLIGHT -->
    <!-- END:hidden_div -->

<!-- END_HIGHLIGHT -->
      <ul>
        <li><a href="http://www.paymentdemos.com">Home</a></li>
        <li><a href="http://www.paymentdemos.com">Questions</a></li>
        <li><a href="http://www.paymentdemos.com">News</a></li>
        <li><a href="http://www.paymentdemos.com">Contact</a></li>
      </ul>
    </div>
    <div id="main">
      <div id="disclaimer">
	Please note that YOU CANNOT PURCHASE ANYTHING on this site, it is purely for the purposes of demonstrating various payment gateways & how developers can easily integrate with those gateways.
    </div>
      <%= yield %>
    </div>
  </div>
</body>
</html>
